html,body
{
    width: 100%;
    height: 100%;
    margin: 0;
}
body
{
    background-color:#121212;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.album
{
    width: 350px;
    background: linear-gradient(135deg,blue,violet,orange,rgb(244, 195, 103),yellow,red,brown);
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}
img{
    width: 80%;
    border-radius: 50%;
}
.style
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
.but
{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.but button
{
    font-size: 30px;
    background: none;
    border: none;
}
.but .play
{
    background:linear-gradient(135deg,pink,violet,blue);;
    border-radius: 50%;
    width: 55px;
    height: 55px;
}
.totalprogress
{
    display: flex;
    align-items: center;
    gap: 10px;
}
.progressbar
{
    flex:1;
    height: 5px;
    background-color: aqua;
}
.progress
{
    background:linear-gradient(135deg,pink,violet,blue);;
    width: 30%;
    height: 100%;
    
}