#colour
{
    background:linear-gradient(white,lightblue,aqua,skyblue);
    font-family: Arial, Helvetica, sans-serif;
}
.cho
{
    background-color:red;
    padding: 15px;
    text-align: center;
}
nav ul
{
    list-style-type: none;
    padding:0;
}
nav ul li 
{
    display: inline;
    margin-right: 15px;
}
nav ul li a 
{
    text-decoration: none;
    font-weight: bold ;
}
.name
{
    padding: 1px;
}
#info
{
    list-style-type: none;
}
#message
{
    padding: 20px;
    padding-right: 15pc;
}