.main
{
    display: flex;
    gap: 20px;

}
.c1
{
    background-color:wheat;
    flex-grow: 1;
    width: 30ph;
    height: 100vh;
    border-radius: 10px;
    margin-right: auto;
    text-rendering: auto;
    transform: scale(1.5);
}
.c2
{
    display: grid;
    width: 30px;
    height: 100vh;
    flex-grow: 1;
    background-color: green;
    width: 70vh;
    border-radius: 10px;
    transform: scale(1.5);
}
nav a
{
   text-decoration: none;
}
ul{
    list-style: none;
}
body
{
    position: relative;
}
.c3
{
    text-align: center;
}
a:hover
{
    background-color: white;

}